<!-- 
<div id="user-widget">
	<% if current_user %>
	     Welcome <strong><%= current_user.name %></strong>!<br />
	    <%= image_tag current_user.image %><br />
	    <%= link_to "Sign out", signout_path, id: "sign_out" %>
	<% else %>
	     <%= link_to "Sign in with Instagram", "/auth/instagram", class: "btn btn-block btn-social btn-instagram"%>
	<% end %>
</div>

<div id="user-widget">
	<% if current_user %>
	     Welcome <strong><%= current_user.name %></strong>!<br />
	    <%= image_tag current_user.image %><br />
	    <%= link_to "Sign out", signout_path, id: "sign_out" %>
	<% else %>
	     <%= link_to "Sign in with Google", "/auth/google_oauth2", class: "btn btn-block btn-social btn-google"%>
	<% end %>
</div> -->
<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="well">
        <h3>Let's Find Your New Salon!</h3>
					<div>
					    <%= form_tag results_path do %>
					        <%= text_field_tag :term, nil, placeholder: "Wash, Haircut, Braids", class: "form-control" %><br />
					        <%= text_field_tag :address, nil, placeholder:"Where...", class: "form-control" %><br />
					        <%= submit_tag "Find My Stylist!", class: "btn btn-primary" %>
					    <% end %>
					</div>
       </div>
    </div>
</div>
